# Secrets and environment variables
.env
.env.*
!.env.example

# Database
*.db
*.sqlite3

# Python cache & artifacts
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/

# Executables & binaries
cloudflared.exe
*.exe
*.zip
*.tar.gz

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
